super-saiyan-search/Api/bin/Debug/netcoreapp3.1/Api.dll
super-saiyan-search/Api/bin/Debug/netcoreapp3.1/Api.pdb
super-saiyan-search/Api/bin/Debug/netcoreapp3.1/DataAccess.dll
super-saiyan-search/Api/bin/Debug/netcoreapp3.1/DataAccess.pdb
super-saiyan-search/Api/bin/Debug/netcoreapp3.1/Integration.dll
super-saiyan-search/Api/bin/Debug/netcoreapp3.1/Integration.pdb
super-saiyan-search/Api/obj/Api.csproj.nuget.dgspec.json
super-saiyan-search/Api/obj/project.assets.json
super-saiyan-search/Api/obj/project.nuget.cache
super-saiyan-search/Api/obj/Debug/netcoreapp3.1/Api.assets.cache
super-saiyan-search/Api/obj/Debug/netcoreapp3.1/Api.csproj.CoreCompileInputs.cache
super-saiyan-search/Api/obj/Debug/netcoreapp3.1/Api.csproj.FileListAbsolute.txt
super-saiyan-search/Api/obj/Debug/netcoreapp3.1/Api.csprojAssemblyReference.cache
super-saiyan-search/Api/obj/Debug/netcoreapp3.1/Api.dll
super-saiyan-search/Api/obj/Debug/netcoreapp3.1/Api.pdb
super-saiyan-search/Api.Tests/bin/Debug/netcoreapp3.1/Api.dll
super-saiyan-search/Api.Tests/bin/Debug/netcoreapp3.1/Api.pdb
super-saiyan-search/Api.Tests/bin/Debug/netcoreapp3.1/Api.Tests.dll
super-saiyan-search/Api.Tests/bin/Debug/netcoreapp3.1/Api.Tests.pdb
super-saiyan-search/Api.Tests/bin/Debug/netcoreapp3.1/DataAccess.dll
super-saiyan-search/Api.Tests/bin/Debug/netcoreapp3.1/DataAccess.pdb
super-saiyan-search/Api.Tests/bin/Debug/netcoreapp3.1/Integration.dll
super-saiyan-search/Api.Tests/bin/Debug/netcoreapp3.1/Integration.pdb
super-saiyan-search/Api.Tests/obj/Api.Tests.csproj.nuget.dgspec.json
super-saiyan-search/Api.Tests/obj/project.assets.json
super-saiyan-search/Api.Tests/obj/project.nuget.cache
super-saiyan-search/Api.Tests/obj/Debug/netcoreapp3.1/Api.Tests.assets.cache
super-saiyan-search/Api.Tests/obj/Debug/netcoreapp3.1/Api.Tests.csproj.CoreCompileInputs.cache
super-saiyan-search/Api.Tests/obj/Debug/netcoreapp3.1/Api.Tests.csproj.FileListAbsolute.txt
super-saiyan-search/Api.Tests/obj/Debug/netcoreapp3.1/Api.Tests.csprojAssemblyReference.cache
super-saiyan-search/Api.Tests/obj/Debug/netcoreapp3.1/Api.Tests.dll
super-saiyan-search/Api.Tests/obj/Debug/netcoreapp3.1/Api.Tests.pdb
super-saiyan-search/DataAccess/bin/Debug/netcoreapp3.1/DataAccess.dll
super-saiyan-search/DataAccess/bin/Debug/netcoreapp3.1/DataAccess.pdb
super-saiyan-search/DataAccess/obj/DataAccess.csproj.nuget.dgspec.json
super-saiyan-search/DataAccess/obj/project.assets.json
super-saiyan-search/DataAccess/obj/project.nuget.cache
super-saiyan-search/DataAccess/obj/Debug/netcoreapp3.1/DataAccess.assets.cache
super-saiyan-search/DataAccess/obj/Debug/netcoreapp3.1/DataAccess.csproj.CoreCompileInputs.cache
super-saiyan-search/DataAccess/obj/Debug/netcoreapp3.1/DataAccess.csproj.FileListAbsolute.txt
super-saiyan-search/DataAccess/obj/Debug/netcoreapp3.1/DataAccess.csprojAssemblyReference.cache
super-saiyan-search/DataAccess/obj/Debug/netcoreapp3.1/DataAccess.dll
super-saiyan-search/DataAccess/obj/Debug/netcoreapp3.1/DataAccess.pdb
super-saiyan-search/DataAccess.Tests/bin/Debug/netcoreapp3.1/DataAccess.dll
super-saiyan-search/DataAccess.Tests/bin/Debug/netcoreapp3.1/DataAccess.pdb
super-saiyan-search/DataAccess.Tests/bin/Debug/netcoreapp3.1/DataAccess.Tests.dll
super-saiyan-search/DataAccess.Tests/bin/Debug/netcoreapp3.1/DataAccess.Tests.pdb
super-saiyan-search/DataAccess.Tests/obj/DataAccess.Tests.csproj.nuget.dgspec.json
super-saiyan-search/DataAccess.Tests/obj/project.assets.json
super-saiyan-search/DataAccess.Tests/obj/project.nuget.cache
super-saiyan-search/DataAccess.Tests/obj/Debug/netcoreapp3.1/DataAccess.Tests.assets.cache
super-saiyan-search/DataAccess.Tests/obj/Debug/netcoreapp3.1/DataAccess.Tests.csproj.CoreCompileInputs.cache
super-saiyan-search/DataAccess.Tests/obj/Debug/netcoreapp3.1/DataAccess.Tests.csproj.FileListAbsolute.txt
super-saiyan-search/DataAccess.Tests/obj/Debug/netcoreapp3.1/DataAccess.Tests.csprojAssemblyReference.cache
super-saiyan-search/DataAccess.Tests/obj/Debug/netcoreapp3.1/DataAccess.Tests.dll
super-saiyan-search/DataAccess.Tests/obj/Debug/netcoreapp3.1/DataAccess.Tests.pdb
super-saiyan-search/Domain/obj/Domain.csproj.nuget.dgspec.json
super-saiyan-search/Domain/obj/project.assets.json
super-saiyan-search/Domain/obj/project.nuget.cache
super-saiyan-search/Domain/obj/Debug/netcoreapp3.1/Domain.assets.cache
super-saiyan-search/Domain/obj/Debug/netcoreapp3.1/Domain.csproj.FileListAbsolute.txt
super-saiyan-search/Domain/obj/Debug/netcoreapp3.1/Domain.csprojAssemblyReference.cache
super-saiyan-search/Domain.Tests/bin/Debug/netcoreapp3.1/Domain.Tests.dll
super-saiyan-search/Domain.Tests/bin/Debug/netcoreapp3.1/Domain.Tests.pdb
super-saiyan-search/Domain.Tests/obj/Domain.Tests.csproj.nuget.dgspec.json
super-saiyan-search/Domain.Tests/obj/project.assets.json
super-saiyan-search/Domain.Tests/obj/project.nuget.cache
super-saiyan-search/Domain.Tests/obj/Debug/netcoreapp3.1/Domain.Tests.assets.cache
super-saiyan-search/Domain.Tests/obj/Debug/netcoreapp3.1/Domain.Tests.csproj.CoreCompileInputs.cache
super-saiyan-search/Domain.Tests/obj/Debug/netcoreapp3.1/Domain.Tests.csproj.FileListAbsolute.txt
super-saiyan-search/Domain.Tests/obj/Debug/netcoreapp3.1/Domain.Tests.csprojAssemblyReference.cache
super-saiyan-search/Domain.Tests/obj/Debug/netcoreapp3.1/Domain.Tests.dll
super-saiyan-search/Domain.Tests/obj/Debug/netcoreapp3.1/Domain.Tests.pdb
super-saiyan-search/Integration/bin/Debug/netcoreapp3.1/Integration.dll
super-saiyan-search/Integration/bin/Debug/netcoreapp3.1/Integration.pdb
super-saiyan-search/Integration/obj/Integration.csproj.nuget.dgspec.json
super-saiyan-search/Integration/obj/project.assets.json
super-saiyan-search/Integration/obj/project.nuget.cache
super-saiyan-search/Integration/obj/Debug/netcoreapp3.1/Integration.assets.cache
super-saiyan-search/Integration/obj/Debug/netcoreapp3.1/Integration.csproj.CoreCompileInputs.cache
super-saiyan-search/Integration/obj/Debug/netcoreapp3.1/Integration.csproj.FileListAbsolute.txt
super-saiyan-search/Integration/obj/Debug/netcoreapp3.1/Integration.csprojAssemblyReference.cache
super-saiyan-search/Integration/obj/Debug/netcoreapp3.1/Integration.dll
super-saiyan-search/Integration/obj/Debug/netcoreapp3.1/Integration.pdb
super-saiyan-search/Integration.Tests/bin/Debug/netcoreapp3.1/Integration.dll
super-saiyan-search/Integration.Tests/bin/Debug/netcoreapp3.1/Integration.pdb
super-saiyan-search/Integration.Tests/bin/Debug/netcoreapp3.1/Integration.Tests.dll
super-saiyan-search/Integration.Tests/bin/Debug/netcoreapp3.1/Integration.Tests.pdb
super-saiyan-search/Integration.Tests/obj/Integration.Tests.csproj.nuget.dgspec.json
super-saiyan-search/Integration.Tests/obj/project.assets.json
super-saiyan-search/Integration.Tests/obj/project.nuget.cache
super-saiyan-search/Integration.Tests/obj/Debug/netcoreapp3.1/Integration.Tests.assets.cache
super-saiyan-search/Integration.Tests/obj/Debug/netcoreapp3.1/Integration.Tests.csproj.CoreCompileInputs.cache
super-saiyan-search/Integration.Tests/obj/Debug/netcoreapp3.1/Integration.Tests.csproj.FileListAbsolute.txt
super-saiyan-search/Integration.Tests/obj/Debug/netcoreapp3.1/Integration.Tests.csprojAssemblyReference.cache
super-saiyan-search/Integration.Tests/obj/Debug/netcoreapp3.1/Integration.Tests.dll
super-saiyan-search/Integration.Tests/obj/Debug/netcoreapp3.1/Integration.Tests.pdb
super-saiyan-search/SuperSaiyanSearchApi/bin/Debug/netcoreapp3.1/Api.dll
super-saiyan-search/SuperSaiyanSearchApi/bin/Debug/netcoreapp3.1/Api.pdb
super-saiyan-search/SuperSaiyanSearchApi/bin/Debug/netcoreapp3.1/DataAccess.dll
super-saiyan-search/SuperSaiyanSearchApi/bin/Debug/netcoreapp3.1/DataAccess.pdb
super-saiyan-search/SuperSaiyanSearchApi/bin/Debug/netcoreapp3.1/Integration.dll
super-saiyan-search/SuperSaiyanSearchApi/bin/Debug/netcoreapp3.1/Integration.pdb
super-saiyan-search/SuperSaiyanSearchApi/bin/Debug/netcoreapp3.1/SuperSaiyanSearchApi.dll
super-saiyan-search/SuperSaiyanSearchApi/bin/Debug/netcoreapp3.1/SuperSaiyanSearchApi.pdb
super-saiyan-search/SuperSaiyanSearchApi/obj/project.assets.json
super-saiyan-search/SuperSaiyanSearchApi/obj/project.nuget.cache
super-saiyan-search/SuperSaiyanSearchApi/obj/SuperSaiyanSearchApi.csproj.nuget.dgspec.json
super-saiyan-search/SuperSaiyanSearchApi/obj/Debug/netcoreapp3.1/SuperSaiyanSearchApi.assets.cache
super-saiyan-search/SuperSaiyanSearchApi/obj/Debug/netcoreapp3.1/SuperSaiyanSearchApi.csproj.CoreCompileInputs.cache
super-saiyan-search/SuperSaiyanSearchApi/obj/Debug/netcoreapp3.1/SuperSaiyanSearchApi.csproj.FileListAbsolute.txt
super-saiyan-search/SuperSaiyanSearchApi/obj/Debug/netcoreapp3.1/SuperSaiyanSearchApi.csprojAssemblyReference.cache
super-saiyan-search/SuperSaiyanSearchApi/obj/Debug/netcoreapp3.1/SuperSaiyanSearchApi.dll
super-saiyan-search/SuperSaiyanSearchApi/obj/Debug/netcoreapp3.1/SuperSaiyanSearchApi.pdb
