SuperSaiyanSearchApi/bin/
SuperSaiyanSearchApi/obj/
Api/bin/
Api/obj/
Api.Tests/bin/
Api.Tests/obj/
Domain/bin/
Domain/obj/
Domain.Tests/bin/
Domain.Tests/obj/
Integration/bin/
Integration/obj/
Integration.Tests/bin/
Integration.Tests/obj/